[submodule ".ci"]
	path = .ci
	url = ssh://git@code.iflytek.com:30004/nywang/ci.git
[submodule "interface"]
	path = interface
	url = ../interface.git
[submodule "thirdparty"]
	path = thirdparty
	url = ../ad_third_party_libraries.git
[submodule "ad_common"]
	path = ad_common
	url = ../ad_common.git
