[submodule "src/thirdparty/interface"]
	path = src/thirdparty/interface
	url = ../interface.git
[submodule ".ci"]
	path = .ci
	url = ../../nywang/ci.git
[submodule "tools/common"]
	path = tools/common
	url = ../common_tools.git
