[submodule "src/thirdparty/interface"]
	path = src/thirdparty/interface
	url = ../interface.git
[submodule ".ci"]
	path = .ci
	url = ../../nywang/ci.git
[submodule "interface"]
	path = interface
	url = ../interface.git
[submodule "thirdparty"]
	path = thirdparty
	url = ../ad_third_party_libraries.git
